.container {
    place-items: center;
    height: calc(100vh - 150px);
}

.container .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 32px;
}

.container .actions > a {
    border: 0.25px solid white;
    height: 50%;
    width: 33%;
    border-radius: 32px;
    position: relative;
    margin: 0 16px;
}

.actions__play svg {
    color: seagreen;
    position: absolute;
    top: 15%;
    left: 7.5%;
    font-size: 5rem;
}

.actions__play h3 {
    position: absolute;
    bottom: 15%;
    right: 7.5%;
    font-size: 2.5rem;
    color: seashell;
}

.actions__play:hover {
    background: seashell;
    
}

.actions__play:hover h3 {
    color: black;
}